<div class="container">
  <div class="user-details">
    <h3>Featured Projects:</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="MonCamp" src="{{ "/assets/img/moncamp.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Moncler-MONCamp (Intranet)</h5>
      <li>PHP</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Sass</li>
      <li>Jquery</li>
      <li>React JS (Component integration)</li>
      <li>Git</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="fendi" src="{{ "/assets/img/fendi.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Fendi-Ecommerce (old-version)</h5>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Less</li>
        <li>Jquery</li>
        <li>Git</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="https://www.fendi.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="rogervivier" src="{{ "/assets/img/rogervivier.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Roger Vivier-Ecommerce</h5>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Less</li>
        <li>Jquery</li>
        <li>Git</li>
      </ul>
      <p>Roger Vivier ecommerce portal restyling.</p>
      <a class="project-link" href="http://store.rogervivier.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="fay" src="{{ "/assets/img/fay.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Fay-Ecommerce</h5>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Less</li>
        <li>Jquery</li>
        <li>Git</li>
      </ul>
      <p>Fay ecommerce portal restyling.</p>
      <a class="project-link" href="http://store.fay.com">Check it out</a>
    </div>
  </div>
</div>
